@font-face {
  font-family: 'quendamedium';
  src: url('../font/quenda-medium.woff2') format('woff2'),
  url('../font/quenda-medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
