@font-face {
  font-family: "quendamedium";
  src: url("../font/quenda-medium.woff2") format("woff2"), url("../font/quenda-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "quendamedium", serif;
  font-weight: normal;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background: #EEEEEE;
  margin: 0;
  text-align: center;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body:before {
  content: " ";
  background: black;
  height: 100px;
  width: 100%;
  top: 0;
  position: absolute;
  left: 0;
  z-index: 0;
}

header, main, footer {
  padding: 0 15px;
}

header {
  background: url("../image/header__background.webp") no-repeat top center;
  background-size: 1294px;
  min-height: 313px;
  position: relative;
  z-index: 0;
  text-align: center;
}
header h1 {
  color: white;
  background: url("../image/pecivokynko.webp") no-repeat center bottom;
  background-size: 100%;
  width: 337px;
  height: 76px;
  text-indent: -10000px;
  margin: 0 auto;
  padding-top: 40px;
}

main {
  margin-top: -100px;
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 0;
}
main h2 {
  font-size: 41px;
}
main p {
  font-size: 19px;
}
main .button {
  display: inline-block;
  font-weight: normal;
  text-decoration: none;
  background: black;
  color: white;
  padding: 7px 30px;
  border-radius: 20px;
  margin: 30px auto;
  transition: box-shadow 0.3s ease-in-out;
}
main .button:hover {
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
main .left, main .right {
  width: 200px;
  padding-left: 25px;
  text-align: left;
}
main .left {
  display: inline-block;
}
main .right {
  display: inline-block;
}
main .day {
  font-size: 21px;
  margin: 0;
}
main .day span {
  font-size: 28px;
  width: 110px;
  display: inline-block;
  text-align: left;
}
main .logos {
  margin: 50px auto;
}
main .logos img {
  height: 71px;
  margin: 0 45px 20px;
}
@media screen and (max-width: 990px) {
  main .logos {
    max-width: 515px;
  }
  main .logos img {
    margin: 0 30px 10px;
  }
}
@media screen and (max-width: 480px) {
  main .logos {
    max-width: 240px;
  }
}

footer {
  background: black;
  color: white;
  flex: none;
  font-size: 17px;
  padding: 20px 15px 25px;
}
footer span {
  margin: 0 10px;
}
footer a {
  color: white;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
footer .copy {
  font-size: 12px;
  margin: 7px 0 4px;
}
footer .ae {
  font-size: 13px;
  color: #7D7D7D;
}
footer .ae img {
  width: 22px;
  position: relative;
  top: 3px;
}

h1 {
  margin: 0;
}

.background {
  pointer-events: none;
  position: fixed;
  left: 0;
  overflow: hidden;
  display: inline-block;
  height: 100vh;
  width: 100%;
  z-index: -1;
  text-align: center;
}
.background div {
  margin: 0;
  height: 755px;
  width: 1294px;
  position: relative;
  left: 50%;
  transform: translateX(-647px);
}
.background .b1, .background .b3 {
  background-image: url("../image/nbgx.webp");
}
.background .b2 {
  background-image: url("../image/nbgx.webp");
  transform: scaleY(-1) translateX(-647px);
}

@media screen and (max-width: 620px) {
  br {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
